#github-projects {
  background-color: var(--light-secondary-color);
}

#github-projects .container {
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
  padding: 20px;
}

#projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 20px;
  padding: 20px;
  justify-content: center;
}

.project-card {
  position: relative;
  min-width: 200px;
  background: var(--secondary-color);
  color: var(--text-color);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border: 1px solid var(--light-secondary-color);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.project-card:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.container h2 {
  margin-bottom: 20px;
}

.project-card h3 {
  color: var(--text-color);
  padding: 15px;
  margin: 0;
  background-color: rgba(27, 71, 246, 0.766);
  border-bottom: 1px solid var(--primary-color);
  flex-shrink: 0;
}

.project-card p {
  padding: 15px;
  margin: 0;
  color: var(--secondary-text-color);
  flex-grow: 1;
}

.project-card a {
  display: block;
  text-align: center;
  padding: 10px 15px;
  color: #fff;
  background-color: var(--main-brand-color);
  text-decoration: none;
  border-radius: 0 0 10px 10px;
  flex-shrink: 0;
}

.project-card a:hover {
  background-color: blue;
}

.tooltip {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 200px;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 125%; /* Position above the element */
  left: 50%;
  margin-left: -100px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.language-overlay ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

.language-overlay li {
  margin: 5px 0;
  color: white;
}
.play-button {
  display: inline-block;
  margin-top: 10px;
  padding: 10px 20px;
  background-color: var(--main-brand-color);
  color: #fff;
  font-size: 1rem;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s, transform 0.3s;
  text-align: center;
}

.play-button:hover {
  background-color: #0056;
  transform: scale(1.05);
}

.visit-button {
  display: inline-block;
  margin-top: 10px;
  padding: 10px 20px;
  background-color: var(--main-brand-color);
  color: #fff;
  font-size: 1rem;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s, transform 0.3s;
  text-align: center;
}
